<div class="container collection-wrap">
  <aside class="filters">
    <h3>Filter</h3>

    <form id="filterForm">
      <label>Max Price</label>
      <input type="range" min="0" max="500" value="500" id="priceRange">
      <span id="priceValue">$500</span>

      <h4>Categories</h4>
      {% for tag in collection.all_tags %}
        <label>
          <input type="checkbox" name="tag" value="{{ tag }}">
          {{ tag }}
        </label><br>
      {% endfor %}
    </form>
  </aside>

  <div id="productGrid" class="grid">
    {% for product in collection.products %}
      <div class="card" data-price="{{ product.price | money_without_currency }}">
        <img src="{{ product.featured_image | image_url: width: 300 }}">
        <h4>{{ product.title }}</h4>
        {% render 'price', product: product %}
      </div>
    {% endfor %}
  </div>
</div>
