<div class="container product-page">
  <div class="gallery">
    {% for image in product.images %}
      <img src="{{ image | image_url: width: 500 }}">
    {% endfor %}
  </div>

  <div class="details">
    <h1>{{ product.title }}</h1>
    {% render 'price', product: product %}

    {% if product.variants.size > 1 %}
      <select name="id">
        {% for variant in product.variants %}
          <option value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>
    {% endif %}

    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      <button class="btn sticky-btn">Add to Cart</button>
    </form>

    <div class="tabs">
      <button onclick="openTab('desc')">Description</button>
      <button onclick="openTab('care')">Care</button>

      <div id="desc" class="tab-content">
        {{ product.description }}
      </div>

      <div id="care" class="tab-content">
        <ul class="care-list">
            {% if product.metafields.plant.light %}
            <li>☀️ Light: {{ product.metafields.plant.light }}</li>
            {% endif %}
            {% if product.metafields.plant.water %}
            <li>💧 Water: {{ product.metafields.plant.water }}</li>
            {% endif %}
            {% if product.metafields.plant.temp %}
            <li>🌡 Temperature: {{ product.metafields.plant.temp }}</li>
            {% endif %}
        </ul>
        </div>

    </div>
  </div>
</div>
